{{ 2 + 2 + 2 }}
{% set soma = 2 + 2 %}
{% set soma_variaveis = soma + soma %}
<h1>Soma</h1>
{{ soma }}
{{ soma_variaveis }}

<h1>Subtração</h1>
{{ 2 - 2 - 2 }}

<h1>Multiplicação</h1>
{{ 2 * 2 * 2 }}

<h1>Divisão</h1>
{{ 2 / 2 / 2 }}

<h1>Resto da divisão inteira</h1>
{{ 20 % 3 }}

<h1>Divisão com arredondamento</h1>
{{ 20 // 3 }}

<h1>Concatenação</h1>
{{ "School" ~ " of Net" }}