<h1>Do</h1>
{% do cliente.id('ID') %}
{% do 3 * 3 %}

<h1>Include</h1>
{% include "interpolacao.twig" %}
{{ include("interpolacao.twig") }}

<h1>Spaceless</h1>
{% set h1 %}
    <h1>
        <a href="#">
            Link
        </a>
    </h1>
{% endset %}
{{ h1 }}
{% spaceless %}
    {{ h1 }}
{% endspaceless %}